<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="entityResolvers" name="Doctrine Entity Resolvers" schema="schema/entityResolvers.exsd"/>
   <extension
         id="doctrineNature"
         name="Doctrine Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dubture.doctrine.core.DoctrineNature">
         </run>
      </runtime>
      <builder
            id="com.dubture.doctrine.core.doctrineBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.php.core.phpIndexingVisitors">
      <visitor
            class="com.dubture.doctrine.core.index.DoctrineIndexingVisitorExtension">
      </visitor>
   </extension>
   <extension
         point="org.eclipse.php.core.goalEvaluatorFactories">
      <factory
            class="com.dubture.doctrine.core.goals.RepositoryEvaluatorFactory"
            priority="100">
      </factory>
   </extension>
   <extension
         id="doctrineBuilder"
         name="Doctrine Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.dubture.doctrine.core.index.DoctrineBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="com.dubture.doctrine.internal.core.build.AnnotationBuildParticipantFactory"
            id="com.dubture.doctrine.core.annotationBuildParticipant"
            name="Annotation Build Participant"
            nature="org.eclipse.php.core.PHPNature">
         <requires
               id="org.eclipse.php.core.buildParticipant.parser">
         </requires>
      </buildParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="com.dubture.doctrine.core.codeassist.DoctrineSelectionEngine"
            nature="org.eclipse.php.core.PHPNature"
            priority="80">
      </selectionEngine>
   </extension>
   <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="com.dubture.doctrine.internal.core.refactoring.RenameAnnotationParticipant"
             id="com.dubture.doctrine.core.refactoring.renameAnnotation"
             name="Rename Annotation Reference">
          <enablement>
          	<with variable="affectedNatures">
		        <iterate operator="or">
		          <equals value="com.dubture.doctrine.core.doctrineNature"/>
		        </iterate>
		      </with>
		      <with variable="element">
		        <instanceof value="org.eclipse.dltk.core.IType"/>
		      </with>
          </enablement>
       </renameParticipant>
    </extension>
   <extension
         point="org.eclipse.php.core.phpSourceElementRequestors">
      <requestor
            class="com.dubture.doctrine.internal.core.compiler.DoctrineSourceElementRequestor">
      </requestor>
   </extension>
   <extension
         point="org.pdtextensions.semanticanalysis.validator">
      <category
            id="com.dubture.doctrine.core.validationCategory"
            label="Doctrine validators">
      </category>
      <validator
            categoryId="com.dubture.doctrine.core.validationCategory"
            class="com.dubture.doctrine.internal.core.validation.factory.AnnotationValidatorFactory"
            id="com.dubture.doctrine.core.annotationValidator">
            <type
                 id="use"
                 label="Annotation not found"
                 defaultSeverity="warning" />
      </validator>
   </extension>
   <extension
          point="org.eclipse.dltk.core.problemFactory">
       <problemIdentifierFactory
             class="com.dubture.doctrine.internal.core.validation.DoctrineProblemIdentifierFactory"
             namespace="com.dubture.doctrine.internal.core.validation.DoctrineProblemIdentifier">
       </problemIdentifierFactory>
    </extension>
   <extension
         point="org.eclipse.php.core.validatorExtension">
      <validator
            class="com.dubture.doctrine.internal.core.validation.validator.PHPValidatorExtension">
      </validator>
   </extension>
</plugin>
