<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.dubture.doctrine.ui.templates.DoctrineContextType"
            id="doctrine">
      </contextType>
      <include
            file="templates/doctrinedefault-templates.xml"
            translations="templates/doctrinedefault-templates.properties">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.dubture.doctrine.ui.contextmenu"
            objectClass="org.eclipse.dltk.core.IScriptProject">
         <action
               class="com.dubture.doctrine.ui.ConfigureDoctrineNatureAction"
               enablesFor="+"
               id="com.dubture.doctrine.ui.action1"
               label="Convert to Doctrine project"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
      </objectContribution>
   </extension>
   <extension
       id="com.dubture.doctrine.ui.doctrineCompletionProposalComputer"
       point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
    <scriptCompletionProposalComputer
          categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
          class="com.dubture.doctrine.ui.contentassist.DoctrineCompletionProposalComputer"
          toolkitId="org.eclipse.php.core.PHPNature"
          activate="true">
       <partition
             type="org.eclipse.php.PHP_DEFAULT">
       </partition>
    </scriptCompletionProposalComputer>
 </extension>
 <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
   <provisionalConfiguration
			type="autoeditstrategy"	
            class="com.dubture.doctrine.ui.autoedit.AnnotationAutoEditStrategy"
            target="org.eclipse.php.PHP_DEFAULT" />
 </extension>
 <extension
   point="org.eclipse.wst.sse.ui.semanticHighlighting">
    <highlighting
      class="com.dubture.doctrine.ui.editor.highlighting.AnnotationHighlighting"
      target="org.eclipse.php.core.phpsource">
    </highlighting> 
 </extension>
  <!-- dark theme defaults -->
  <extension
	   point="org.eclipse.e4.ui.css.swt.theme">
	  <stylesheet uri="resources/css/dark/preferencestyle.css"> 
	      <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
	  </stylesheet>
  </extension>
  <extension
       point="org.eclipse.dltk.ui.queryParticipants"> 
    <queryParticipant
          class="com.dubture.doctrine.ui.search.AnnotationSearchParticipant"
          id="com.dubture.doctrine.ui.annotationQueryParticipant"
          language="org.eclipse.php.core.PHPNature"
          name="Annotation Reference "
          nature="com.dubture.doctrine.core.doctrineNature">
    </queryParticipant>
 </extension>
</plugin>
